.searchable-select__selected-resources {
    >div {
        background-color: var(\-\-30);
    }
}

.s-icon-w-12 {
    width:12px;
    height:12px;
}

.s-icon-w-14 {
    width:14px;
    height:14px;
}

.s-icon-w-16 {
    width:16px;
    height:16px;
}

.s-icon-w-18 {
    width:18px;
    height:18px;
}

.nova-selective .selective-option-checkbox > svg {
    fill: var(--white);
}
.nova-selective .selective-option-checkbox.selected > svg {
    fill: var(--success);
}