<template>
	<div>
		<panel-item :field="field">
			<template slot="value">
				<div v-if="fieldValue" class="text-90">
					<div v-if="field.isMultiple">{{resourceLabels.join(', ')}}</div>
					<div v-else>{{ fieldValue }}</div>
				</div>
				<div v-else>&mdash;</div>
			</template>
		</panel-item>
	</div>
</template>

<script>

import { HttpRequests } from "../mixins/selective-mixin";

export default {
	mixins: [HttpRequests],
	props: ['resource', 'resourceName', 'resourceId', 'field'],
	data() {
		return {
			resources: [],
			request: {}
		}
	},
	mounted() {
		console.log(this.field.attribute);
		console.log(this.field);

		if (this.field.isMultiple) {
			this.getAvailableResources()
		}
	},
	computed: {
		resourceLabels() {
			let values = []
			this.resources.forEach(r => values.push(r.display))
			return values
		},

		fieldValue() {
			if(this.isSearchableResource) {
				if (
						this.field.value === '' ||
						this.field.value === null ||
						this.field.value === undefined ||
						this.field.value === '[]'
				) {
					return false
				}

				return String(this.field.value)
			}
			if(this.isApi) {

			}

			return '--';
		},

		isSearchableResource() {
			return this.field.searchableResource !== null;
		},

		isApi() {
			return this.field.api !== null;
		},
	},
	methods: {
		getAvailableResources() {

			if(this.isSearchableResource) {
				this.request.endpoint = `/nova-vendor/nova-selective/${this.field.searchableResource}`;
			}

			if(this.isApi) {
				this.request.endpoint = this.field.api;
			}

			this.request.params = {
				label: this.field.label,
				labelPrefix: this.field.labelPrefix,
				value: this.field.valueField,
				searchable: this.field.searchable == true ? 1 : 0,
				use_resource_ids: this.field.isMultiple,
				resource_ids: this.field.value
			};

			console.log(this.request);

			this.loadResources(this.request, (response) => {
				this.resources = response.data.resources
			});

		}
	}
}
</script>
