<template>
  <default-field :field="field" :errors="errors" :full-width-content="true" class="nova-selective" :class="{'hidden':disabled}">
    <template slot="field">
      <input-selective
        v-if="!isLocked && !isReadonly"
        :multiple="field.isMultiple"
        @input="performSearch"
        @clear="clearSelection"
        @selected="selectResource"
        :error="hasError"
        :value="selectedResource"
        :data="availableResources"
        :clearable="field.nullable"
        :closeOnSelect="field.settings.closeOnSelect"
        :disabled="disabled"
        trackBy="value"
        searchBy="display"
        class="w-1/2"
        ref="selective"
      >
        <div slot="loading" class="bg-none py-3 overflow-hidden w-full" v-if="searching">
          <loader class="text-60" width="40" />
        </div>

        <div slot="default" v-if="selectedResource" class="flex items-center">
          <div v-if="selectedResource.avatar" class="mr-3">
            <img :src="selectedResource.avatar" class="w-8 h-8 rounded-full block" />
          </div>
          {{ selectedResource.display }}
        </div>

        <div slot="option" slot-scope="{ option, selected }" class="flex" style="justify-content:space-between">
          <div v-if="option.avatar" class="mr-3">
            <img :src="option.avatar" class="w-8 h-8 rounded-full block" />
          </div>
          <div style="text-align:left;">
            {{ option.display }}
          </div>
          <div class="selective-option-checkbox s-icon-w-12" :class="{'selected': selected}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
          </div>
        </div>
      </input-selective>

      <select-control
        v-if="isLocked || isReadonly"
        class="form-control form-select mb-3 w-full"
        :class="{ 'border-danger': hasError }"
        :dusk="field.attribute"
        @change="selectResourceFromSelectControl"
        :disabled="isLocked || isReadonly"
        :options="availableResources"
        :selected="selectedResourceId"
        label="display"
      >
        <option value :disabled="!field.nullable">&mdash;</option>
      </select-control>

      <div v-if="selectedResources.length" class="searchable-select__selected-resources">
        <div
                class="shadow-md mt-3 mr-3 inline-block rounded-lg bg-gray-400"
                v-for="(resource, index) in selectedResources"
                :key="index"
                :data="resource"
        >
          <!-- @todo: :data="resource" does not make sense, it will result in data="[object Object]" -->
          <div class="flex items-center px-4 py-1">
            <div class="mr-2">{{resource.display}}</div>
            <div @click="removeResource(resource)" class="cursor-pointer" style="font-size:16px;width:16px;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/></svg>
            </div>
          </div>
        </div>
        <div v-if="field.settings.showClearAll" class="shadow-md mt-3 mr-3 inline-block rounded-lg bg-gray-400">
          <div class="flex items-center px-4 py-1">
            <div @click="clearSelected" class="cursor-pointer" style="font-size:16px;width:16px;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.66 15.66A8 8 0 1 1 17 10h-2a6 6 0 1 0-1.76 4.24l1.42 1.42zM12 10h8l-4 4-4-4z"/></svg>
            </div>
          </div>
        </div>
      </div>
    </template>
  </default-field>
</template>

<script>
import _ from 'lodash'
import { PerformsSearches, HandlesValidationErrors } from 'laravel-nova'
import { HttpRequests } from "../mixins/selective-mixin";

export default {
  mixins: [PerformsSearches, HandlesValidationErrors, HttpRequests],

  props: {
    resourceName: String,
    field: Object,
    viaResource: {},
    viaResourceId: {},
    viaRelationship: {},
  },

  data: () => ({
    initialized: false,
    availableResources: [],
    initializingWithExistingResource: false,
    selectedResources: [],
    selectedResource: null,
    selectedResourceId: null,
    dependencies: [],
    search: '',
    searching: false,
    disabled: false,
    request: {
      endpoint: null,
      params: {}
    }
  }),

  /**
   * Mount the component.
   */
  mounted() {
    this.initializeComponent()
    this.$nextTick(this.loadResourcesOnNew);
  },

  methods: {
    addDependent(component) {
      this.dependentComponents.push(component);
    },

    existingResourceIndex(value) {
      let index = -1
      this.selectedResources.forEach((r, i) => {
        if (r[this.field.valueField] == value[this.field.valueField]) {
          index = i
        }
      })

      return index
    },

    removeResource(option) {
      this.selectedResources.splice(this.existingResourceIndex(option), 1)
      this.$refs.selective.$emit('remove:selected', option);
    },

    selectResource(option) {
      if (this.field.isMultiple) {
        if (this.existingResourceIndex(option) > -1) {
          this.removeResource(option)
        } else {
          this.selectedResources.push(option)
        }
        this.selectedResource = null
        this.selectedResourceId = null
        this.search = ''
      } else {
        this.selectedResource = option
        this.selectedResourceId = option[this.field.valueField]
      }
    },

    initializeComponent() {
      if (this.editingExistingResource) {
        this.initializingWithExistingResource = true
        if(this.isSearchableResource) {
          this.selectedResourceId = this.field.value;
        }
        if(this.isApi) {
          this.selectedResourceIds = this.field.value;
        }
      }

      if (this.shouldSelectInitialResource) {
        this.getAvailableResources('', true, null).then(() =>
            this.selectInitialResource()
        )
      }

      this.field.fill = this.fill

      if(this.hasDependency()) {
        this.setDependencyWatcher(this.$root);
      }
    },

    /**
     * Select a resource using the <select> control
     */
    selectResourceFromSelectControl(e) {
      this.selectedResourceId = e.target.value
      this.selectInitialResource()
    },

    /**
     * Fill the forms formData with details from this field
     */
    fill(formData) {
      if (this.field.isMultiple) {
        formData.append(
          this.field.attribute,
          JSON.stringify(this.selectedResourcesIds)
        )
      } else {
        formData.append(
          this.field.attribute,
          this.selectedResource ? this.selectedResource.value : ''
        )
      }
    },

    /**
     * Get the resources that may be related to this resource.
     */
    getAvailableResources(query, use_resource_ids, max) {
      this.searching = true
      this.availableResources = []

      let params = this.queryParams.params
      if (max !== null) {
        params.max = this.field.max
      }

      if (this.field.isMultiple) {
        let resourceIds = []
        if (this.selectedResourcesIds.length > 0) {
          resourceIds = this.selectedResourcesIds
        } else if (this.selectedResourceId !== null) {
          resourceIds = JSON.parse(this.selectedResourceId)
        }

        params.resource_ids = JSON.stringify(resourceIds)
        if (use_resource_ids !== undefined) {
          params.use_resource_ids = true
        } else {
          params.ignore_resource_ids = true
        }
      } else {
        if (this.selectedResourceId !== null) {
          params.resource_ids = JSON.stringify([this.selectedResourceId])
          if (use_resource_ids) {
            params.use_resource_ids = true
          }
        }
      }

      if(this.isSearchableResource) {
        this.request.endpoint = `/nova-vendor/nova-selective/${this.field.searchableResource}`
        this.request.params = params
      }

      if(this.isApi) {
        if(this.field.apiOptions !== null) {
          params.apiOptions = this.field.apiOptions
        }
        this.request.endpoint = this.field.api
        this.request.params = params
      }

      return this.loadResources(this.request, (response) => {
          this.initializingWithExistingResource = false
          this.availableResources = response.data.resources
          this.searching = false
      });
    },

    /**
     * Determine if the relatd resource is soft deleting.
     */
    determineIfSoftDeletes() {
      return storage
        .determineIfSoftDeletes(this.field.resourceName)
        .then(response => {
          this.softDeletes = response.data.softDeletes
        })
    },

    /**
     * Determine if the given value is numeric.
     */
    isNumeric(value) {
      return !isNaN(parseFloat(value)) && isFinite(value)
    },

    /**
     * Select the initial selected resource
     */
    selectInitialResource() {
      if (this.field.isMultiple) {
        this.availableResources.forEach(r => {
          if (this.field.value.includes(r[this.field.valueField])) {
            this.selectedResources.push(r)
          }
        })
      } else {
        this.selectedResource = _.find(
          this.availableResources,
          r => r[this.field.valueField] == this.selectedResourceId
        )
      }
    },

    /**
     * When not editing and loadsResourcesOnNew is enable we preload a list of resources
     */
    loadResourcesOnNew() {
      if ('loadResourcesOnNew' in this.field && this.field.loadResourcesOnNew && !this.editingExistingResource) {
        this.search = ''
        this.getAvailableResources('')
      }
    },

    hasDependency() {
      return this.field.dependsOn !== null;
    },

    setDependencyWatcher(root) {
      root.$children.forEach(component => {
        if(typeof component.field !== 'undefined' && component.field.component == 'selective') {
          if( // compare attribute
              component.field.attribute === this.field.dependsOn &&
              // make sure we select the root component, not the default-field.
              typeof component.resourceName !== 'undefined') {

            let watchableAttribute = 'selectedResource' + (component.field.isMultiple ? 's' : '');
            component.$watch(watchableAttribute, function(selected) {
              this.eventDependencyChanged(selected, component);
            }.bind(this), {immediate: true});
            this.dependencies.push(component);
          }
        }
        this.setDependencyWatcher(component)
      });
    },

    eventDependencyChanged(selected, component) {
      if(selected.length === 0) {
        this.disabled = true;
        if(this.isFilled) {
          this.clearSelected();
        }

        return;
      }
      else {
        this.disabled = false;
      }
    },

    clearSelected() {
      this.$refs.selective.$emit('clear:selected')
      this.selected = null;
      this.selectedResources = [];
      this.selectedResource = null;
    }
  },

  computed: {
    isSearchableResource() {
      return this.field.searchableResource !== null;
    },

    isApi() {
      return this.field.api !== null;
    },

    isFilled() {
      return this.selectedResources.length > 0 || this.selectedResource !== null;
    },

    hasDependencies() {
      return this.dependencies.length > 0;
    },

    selectedResourcesIds() {
      let ids = []
      this.selectedResources.forEach(r => {
        ids.push(r[this.field.valueField])
      })

      return ids
    },
    /**
     * Determine if we are editing and existing resource
     */
    editingExistingResource() {
      return Boolean(this.field.value)
    },

    /**
     * Determine if we should select an initial resource when mounting this field
     */
    shouldSelectInitialResource() {
      return Boolean(this.editingExistingResource)
    },

    /**
     * Get the query params for getting available resources
     * @todo: move to said mixin, also for Index-/DetailField
     */
    queryParams() {
      let returns = {
        params: {
          search: this.search,
          searchable: this.field.searchable == true ? 1 : 0,
          label: this.field.label,
          labelPrefix: this.field.labelPrefix,
          value: this.field.valueField
        }
      };

      if(this.hasDependencies) {
        let dependencyValues = {};
        this.dependencies.forEach((dependency) => {
          let values = dependency.field.isMultiple ? dependency.selectedResources : [dependency.selectedResouse];
          dependencyValues[dependency.field.attribute] = _.map(values, function(value) {
            return value[dependency.field.valueField];
          });
        });
        returns.params.dependencyValues = dependencyValues;
      }

      return returns;
    },

    isLocked() {
      return (this.viaResource == this.field.resourceName && this.field.reverse) // || this.disabled
    },

    isReadonly() {
      return (
        this.field.readonly || _.get(this.field, 'extraAttributes.readonly')
      )
    }
  }
}
</script>
