<template>
	<span>
		<span v-if="field.isMultiple">
			<span v-if="resourceLabels.length > 0 ">{{resourceLabels.join(', ')}}</span>
			<span v-else>&mdash;</span>
		</span>
		<span v-else>{{ field.value }}</span>
	</span>
</template>

<script>

import { HttpRequests } from '../mixins/selective-mixin';

export default {
	mixins: [HttpRequests],
	props: ['resourceName', 'field'],
	data() {
		return {
			resources: []
		}
	},
	mounted() {
		if (this.field.isMultiple) {
			this.getAvailableResources()
		}
	},
	computed: {
		resourceLabels() {
			let values = []
			this.resources.forEach(r => values.push(r.display))
			return values
		},

		isSearchableResource() {
			return this.field.searchableResource !== null;
		},

		isApi() {
			return this.field.api !== null;
		},
	},
	methods: {

		// @todo: create mixin
		getAvailableResources() {

			if(this.field.searchableResource !== null) {

				return Nova.request()
					.get(
						`/nova-vendor/nova-selective/${this.field.searchableResource}`,
						{
							// @todo: mixin method `gatharParams`
							params: {
								label: this.field.label,
								labelPrefix: this.field.labelPrefix,
								value: this.field.valueField,
								searchable: this.field.searchable == true ? 1 : 0,
								use_resource_ids: this.field.isMultiple,
								resource_ids: this.field.value
							}
						}
					)
					.then(response => {
						// Turn off initializing the existing resource after the first time
						this.resources = response.data.resources
					})

			}

		}
	}
}
</script>
